.ripple_button {
    position: relative;
    overflow: hidden;
    border: 2px solid white;
    outline: none;
    color: #fff !important;
    padding: 0.5rem;
    font-size: 16px;
    user-select: none;
    
}
.ripple_button:hover{
    outline-color: rgb(255, 17, 0);
    outline-width: 1rem;
    outline-offset:2rem ;
}
.ripple_effect {

    position: absolute;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    pointer-events: none;
    z-index: 5;
    animation: ripple 0.8s infinite;
    height: inherit;
}

@keyframes ripple {
   0% {
    width: 10%;
    height: 10%;
    opacity: 0.4;
    }
    100%{
        width: 600px;
        height: 600px;
        opacity: 0;
    }
}